* {
    box-sizing: border-box;
    background-color:white;
}

html, body {
    min-height: 100vh;
    width: 100vw;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTj8hCBn2541m4rPQnjtDLQfDySBKCqJtpiYg&s");
}
 
#score-board {
    display: grid;
    grid-template-columns: repeat(3, 20vmin);
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 20vmin);
    grid-template-rows: repeat(3, 20vmin);
}

#board > div {
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

