.detail-cat-container {
    padding: 35px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.detail-cat-container > section {
    min-width: 45%;
    width: 100%;
    border: var(--borders);
    border-radius: var(--card-border-radius);
    padding: 10px;
    box-shadow: var(--card-box-shadow);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.detail-cat-img {
    min-width: 150px;
    max-width: 350px;
}

.cat-details {
    width: 100%;
}

.cat-details h1 {
    font-size: var(--font-xxl);
    margin: 0;
}

.cat-details h2 {
    font-size: var(--font-xl);
    margin: 0 0 10px;
    margin-top: 0;
    margin-bottom: 10px;
}

.cat-details p {
    font-size: var(--font-reg);
    margin: 5px 0;
}

.cat-actions {
    margin: 20px;
}

.feedings-toy-container {
    display: flex;
    flex-direction: column;
    padding: 0px 30px;
    align-items: center;
    justify-content: space-between;
    
}

.subsection-title {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.subsection-content {
    margin: 0 8px;
}

.toy-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toy-info {
    height: 35px;
    width: 70%;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    border: solid 2px;
    box-shadow: var(--card-box-shadow);
    position: relative;
    display: flex;
    align-items: center;
}

.toy-container > a {
    width: 100%;
}


.color-block {
    opacity: 0.6;
    position: absolute;
    display: inline-flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
}

.unfed,
.fed,
.no-toys,
.all-toys {
    margin: 0;
    font-weight: bold;
}

.unfed,
.no-toys {
    color: var(--danger);
}

.fed,
.all-toys {
    color: var(--submit);
}

.feedings-toy-container > section {
    width: 100%;
    min-width: 360px;
    border: #7f47b3 2px solid;
    border-radius: var(--card-border-radius);
    padding: 10px;
    box-shadow: var(--card-box-shadow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 35px;
}


.subsection-title img {
    height: 42px;
    margin-left: 8px;
}

.subsection-title img:first-of-type {
    margin-left: 16px;
}

.feedings h2,
.toys h2 {
    font-size: 3.2rem;
    margin: 0;
}

.feedings h3,
.toys h3 {
    font-size: var(--font-xl);
    margin: 10px 0;
}

.subsection-content p,
.subsection-content input,
.subsection-content select {
    font-size: var(--font-l);
}

.subsection-content input,
.subsection-content select {
    margin-left: 5px;
    padding: 3px;
}

.feedings table {
    width: calc(100% - 16px);
    text-align: left;
    border-collapse: collapse;
    margin: 0 8px;
}

.feedings td {
    padding: 8px 5px;
    font-size: var(--font-reg);
}

.feedings th {
    font-size: var(--font-l);
    padding: 5px 5px 0;
    border-bottom: rgb(145, 14, 166) solid 2px;
}

.feedings tr:nth-child(even) {
    background-color: #f7f1fb;
}

.toy-container p {
    margin: 12px 0;
    font-weight: 500;
}

.toy-container a {
    text-decoration: none;
    color: #111;
}

.toy-container .btn {
    padding: 3px 10px;
    margin-left: 10px;
}

#file-input {
    overflow: hidden;
    position: absolute;
    width: 0.1px;
    height: 0.1px;
}

#file-name {
    margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
    .detail-cat-container {
        padding: 35px 30px;
        flex-direction: row;
        align-items: center;
        justify-content: start;
    }

    .detail-cat-img img {
        padding: 2rem;
        max-width: 250px;
        margin-right: 25px;
        border-radius: 15%;
    }

    .feedings-toy-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .feedings-toy-container>section {
        width: 100%;
    }
}