body {
    background-color: rgb(253, 244, 235);
    --brand: #5fabe6;
}

h1 {
    color: var(--brand);
}
h2 {
    color: var(--brand);
}

#about {
    color: green;
}
.important, p {
    background-color: rgb(0, 0, 0);
    color: var(--brand);
    width: 50;
    padding: 1.5px;
    margin: 3px 3px 3px 6px;
    border: 3px dotted red;
}