{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/notes/note-detail.css' %}" />
{% endblock %}
{% block content %}
<section class="note-container">
	<div class="note-img">
		<img src="{% static 'assets/book.png' %}" alt="A book" />
	</div>
	<div class="note-details">
		<h1>{{ note.title }}</h1>
		<h2>Content: {{ note.content }}.</h2>
		<h2>Created on {{ note.date }}</h2>
		<div class="cat-actions">
			<a href="{% url 'note-update' note.id %}" class="btn warn">Edit</a>
			<a href="{% url 'note-delete' note.id %}" class="btn danger">Delete</a>
		</div>
	</div>
</section>
<div class="feedings-toy-container">
	<section class="feedings">
		<div class="subsection-title">
			<h2>Checklist</h2>

			<img src="{% static 'assets/excited.png' %}" alt="Excited Emoji" />
			<img src="{% static 'assets/rich.png' %}" alt="A kabob of kittens" />
		</div>
		<h3>Add a Checklist</h3>
		<form action="{% url 'add-checklist' note.id %}" method="post" class="subsection-content" autocomplete="off">
			{% csrf_token %}
			{{ checklist_form.as_p }}
			<button type="submit" class="btn submit">Add Checklist</button>
		</form>
		{% if note.checklist_set.count != 0 %}
		<table>
			<thead>
				<tr>
					<th>Text</th>
					<th>Complete</th>
					<th>Edit</th>
				</tr>
			</thead>
			<tbody>
				{% for checklist in note.checklist_set.all %}
				{% if checklist.is_done %}
				<tr>
					<td>{{checklist.text}}</td>
					<td>
						<form action="/checklist/{{ checklist.id }}/update-completion/" method="put"
							class="subsection-content" autocomplete="off">
							{% csrf_token %}
							<button class="check-button" type="submit" class="btn submit">
								<img class="checking-icon" src="{% static 'assets/checked.png' %}" alt="checked icon">
							</button>
						</form>
					</td>
					<td>
						<a href="{% url 'checklist-item-delete' checklist.id %}" class="btn danger">Delete</a>
					</td>

				</tr>
				{% endif %}
				{% if not checklist.is_done %}
				<tr>
					<td>{{checklist.text}}</td>
					<td>
						<form action="/checklist/{{ checklist.id }}/update-completion/" method="put"
							class="subsection-content" autocomplete="off">
							{% csrf_token %}
							<button class="check-button" type="submit" class="btn submit">
								<img class="checking-icon" src="{% static 'assets/unchecked.png' %}"
									alt="unchecked icon">
							</button>
						</form>
					</td>
					<td>
							<a href="{% url 'checklist-item-delete' checklist.id %}" class="btn danger">Delete</a>
					</td>
				</tr>
				{% endif %}
				{% endfor %}
			</tbody>
		</table>
		{% endif %}
		{% if note.checklist_set.count == 0 %}
		<h3>No checklist items yet!</h3>
		{% endif %}
	</section>
</div>
{% endblock %}