section {
  display: flex;
  gap: 2rem
}

section.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ccc;
  flex: 1;
  padding: 10px;
  text-align: center;
  
}

.weather span {
  font-weight: bold;
}