* {
    box-sizing: border-box;
    background-color: white;
}
html, body {
    min-height: 100vh;
    width: 100vw;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("https://c7.alamy.com/comp/2GGD3MM/tic-tac-toe-game-texture-hand-drawn-seamless-cross-shapes-pattern-black-elements-on-white-background-2GGD3MM.jpg");

}
#score-board {
    display: grid;
    grid-template-columns: repeat(3, 20vmin) ;
}
#board {
    display: grid;
    grid-template-columns: repeat(3, 20vmin) ;
    grid-template-rows: repeat(3, 20vmin) ;
}

#board > div {
    border: 4px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}