body {
    background-color: lightgray;
    display: grid;
    grid-template-rows: auto 1fr auto;
    /* three rows defined here */
    grid-template-columns: 1fr 2fr;
    /* two columns defined here */
    grid-template-areas:
        "nav nav nav"
        "aside main main"
        "footer footer footer";
    font-family: sans-serif;
    font-size: 24px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

/* nav,
footer {
    grid-column: span 2; 
    or grid-column: 1 / 3; 
} */

nav {
    display: flex;
    justify-content: space-between;
    grid-area: nav; /* name of area */
}

aside {
    background-color: #38b18a;
    grid-area: aside; /* name of area */
}

main {
    background-color: #92d97c;
    grid-area: main; /* name of area */
}

footer {
    background-color: #f9f871;
    grid-area: footer; /* name of area */
}


a {
  text-decoration: none;
  color: black;
}