.cat-index-card {
    width: 275px;
    margin: 10px;
    border-top: 3px  solid rgb(164, 53, 53);
    border-left: 3px  solid rgb(83, 0, 0);
    border-radius: 5%;
    box-shadow: var(--card-box-shadow);
    
}

.cat-index-card-content {
    padding: 10px;
    width: 100%;
}

.cat-index-card > a {
    text-decoration: none;
    color: var(--text-color);
}

.cat-index-card h2 {
    margin: 10px 0;
    font-size: var(--font-xl);
}

.cat-index-card p {
    margin: 5px 0;
    font-size: var(--font-reg);
}

#card-img {
    width: 60px;
}