* {
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100vw;
    background-color:aliceblue;
    margin: 0;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 7.5px;
}
#logo {
    height: 60px;
    /* width: 60px; */
}
#links-container {
    display: flex;
    align-items: center;
}
.nav-links {
    display: flex;
    align-items: center;
    border: 2px solid rgba(0,0,0, 0.5);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}
img[alt="hero"] {
    width: 100vw;    
}
#hero-container {
    max-height: 300px;
    overflow: hidden;
}
#card-container {
    display: flex;
    justify-content: space-around;
    background-color: rgb(202, 202, 202);
    
}
.card {
    background-color: rgb(236, 236, 236);
    border: 4px solid black;
    padding:  2px 2px 2px 23px;
}

#movies-container{
    background-color: rgb(255, 255, 255);
}

#header {
    width: 50%;
    background-color: yellow;
    margin: 0 auto 10px auto;
    text-align: center;
    padding: 10px;
}
.movie-card {
    border: 2px dotted red;
    width: 85% ;
    border-radius: 10px;
    overflow: hidden;
}

.movie-card > img, p {
    width:100%;
    /* height: auto; */
    display: block;
}
.movie-card p {
    max-height: 80px;
    overflow: scroll;
    margin: 3px;
}
#movies-grid{
    margin-left:20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
#contact-container {
        padding: 0px 10px 50px 10px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

}
#contact-container > div {
    width: 50%;

}
#contact-container div:nth-child(2) button  {
    width: 20%;
    height: 20%;
    border-radius: 30%;
    color: blue;
}
#contact-container div:nth-child(3)  {
    text-align: center;
}