* {
    box-sizing: border-box;
}

body {
  background-color: gray;
  font-family: sans-serif;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.flex-parent {
  background-color: black;
  display: flex;
  height: 400px;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}

.flex-child {
    font-size: 48px;
    align-items: center;
    height: 25%;
    display: flex;

}

#one {
  background-color: #f0f0f0;
  color: #707070;
}

#two {
  background-color: #d0d0d0;
  color: #505050;
}

#three {
  background-color: #b0b0b0;
  color: #303030;
}

#four {
  background-color: #909090;
  color: #101010;
}