body {
    
    background-color: rgb(62, 62, 62);
    color: white;
    border: 5px solid rgb(193, 193, 193);
    border-radius: 4px;
    margin: 25px auto;
    padding: 15px 35px 35px 35px;
    width: 550px;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 5px solid rgb(193, 193, 193);
    border-radius: 3px ;
    padding: 20px 35px 35px 35px;
    width: 60%;
    justify-content: end;
    /* border-width: 50%; */
    margin: 0 auto;
}
#introduction-container{
  display: flex;
  align-items: flex-start;  
  /* justify-content: space-between;  */
  gap: 20px; 
}
#wendy {
    width: 200px;
    height: auto;
    float: right;
}
#about {
    /* width: 50%; */
}

.active {
    color: rgb(30, 146, 102);
}

.disabled {
    color: white;
    text-decoration: none;
    font-weight: bold;   
}

.grey-experience {
    color: rgb(179, 179, 179);
}

.experience {
    margin: 15px 0;
}

footer{

    margin: 0 auto;
    border-top: 1px solid rgb(193, 193, 193);
    /* border-radius: 4px; */
    text-align: center;
    width: 80%;
    padding: 5px;
}