main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: auto;
  flex-direction: column;
}

.card {
  width: 224px;
  height: 224px;
  margin: 25px  0px ;
  border: #0000004a solid 0.5px;
  box-shadow: var(--card-box-shadow);
  position: relative;
  background-color: rgb(245, 231, 186);
  border-radius: 50%;

}

.card-bg {
  opacity: 0.4;
  position: absolute;
  display: inline-flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.card-content {
  padding: 15px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--text-color);
}

.btn {
  margin-bottom: 15px;
}

.card h2 {
  margin: 7px 0;
  font-size: var(--font-xl);
  z-index: 1;
}

.card p {
  margin: 0;
  font-size: var(--font-reg);
  z-index: 1;
}
#emoji-icon {
    font-size: 125px;
}