.giphy-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vw;
}

.giphy-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
}